---
import "@/styles/global.css";
import "@fontsource-variable/onest";

const {
	title = "Dialcadev - Software Engineer",
	description = "Welcome to my portfolio website where I showcase my projects and skills as a software engineer.",
} = Astro.props;

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="bg-black main-scrollbar">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content="DialcaDev" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div class="fixed inset-0 -z-10 w-full items-center px-5 py-24 
			[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#085691_100%)]" />
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
		font-family: "Onest Variable", sans-serif;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
