---
import "@/styles/global.css";
import "@fontsource-variable/onest";

const {
	title = "Dialcadev - Software Engineer",
	description = "Welcome to my portfolio website where I showcase my projects and skills as a software engineer.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content="DialcaDev" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
		font-family: "Onest Variable", sans-serif;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
